/* .App {
  font-family: sans-serif;
  text-align: center;
} */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: #22254b;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
header {
  background-color: #373b69;
  padding: 1em;
  display: flex;
  justify-content: flex-end;
}
.search {
  background-color: transparent;
  border: 2px solid #22254b;
  border-radius: 50px;
  color: white;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
}
.search:focus {
  outline: 0;
}
.movie-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.movie {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 300px;
}
.movie img {
  object-fit: cover;
  height: 400px;
  width: 100%;
}
.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.movie-info h3 {
  margin: 0;
}
.movie-over {
  background-color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  color: #111333;
  padding: 1em;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translatey(100%);
  transition: transform 0.3s ease-in-out;
}
.movie:hover .movie-over {
  transform: translatey(0%);
}
.tag {
  background-color: #22254b;
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: bold;
}
.tag.green {
  color: green;
}
.tag.orange {
  color: orange;
}
.tag.red {
  color: red;
}
